In [1]:
import pandas as pd
from pandas import DataFrame
sales_df=pd.read_csv('supermarket_sales - Sheet1.csv')
sales_df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [2]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [3]:
sales_df.isna().apply(pd.value_counts)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
False,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000

In [4]:
#no missing values

In [5]:
sales_df['Unit price'].mean()

55.67212999999998

In [6]:
sales_df['Quantity'].mean()

5.51

In [7]:
sales_df['Tax 5%'].mean()

15.379369000000002

In [8]:
sales_df['Total'].mean()

322.96674900000005

In [9]:
sales_df['cogs'].mean()

307.58738000000034

In [10]:
sales_df['gross margin percentage'].mean()

4.761904762000062

In [11]:
sales_df['gross income'].mean()

15.379369000000002

In [13]:
sales_df['Rating'].mean()

6.972700000000003

In [14]:
sales_df['Unit price'].var()

701.9653312943939

In [15]:
sales_df['Quantity'].var()

8.546446446446451

In [16]:
sales_df['Tax 5%'].var()

137.09659414448348

In [17]:
sales_df['Total'].var()

60459.598017717326

In [18]:
sales_df['cogs'].var()

54838.63765779334

In [19]:
sales_df['gross margin percentage'].var()

3.75952629605329e-27

In [20]:
sales_df['gross income'].var()

137.09659414448348

In [21]:
sales_df['Rating'].var()

2.9535182282282335

In [22]:
sales_df['Unit price'].std()

26.494628347919768

In [23]:
sales_df['Quantity'].std()

2.923430595455697

In [24]:
sales_df['Tax 5%'].std()

11.708825480998659

In [25]:
sales_df['Total'].std()

245.88533510097207

In [26]:
sales_df['cogs'].std()

234.17650961997307

In [27]:
sales_df['gross margin percentage'].std()

6.131497611557303e-14

In [28]:
sales_df['gross income'].std()

11.708825480998659

In [29]:
sales_df['Rating'].std()

1.718580294379123

In [30]:
sales_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unit price,1000.0,55.672130,2.649463e+01,10.080000,32.875000,55.230000,77.935000,99.960000
Quantity,1000.0,5.510000,2.923431e+00,1.000000,3.000000,5.000000,8.000000,10.000000
Tax 5%,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Total,1000.0,322.966749,2.458853e+02,10.678500,124.422375,253.848000,471.350250,1042.650000
cogs,1000.0,307.587380,2.341765e+02,10.170000,118.497500,241.760000,448.905000,993.000000
gross margin percentage,1000.0,4.761905,6.131498e-14,4.761905,4.761905,4.761905,4.761905,4.761905
gross income,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Rating,1000.0,6.972700,1.718580e+00,4.000000,5.500000,7.000000,8.500000,10.000000

In [36]:
from matplotlib import pyplot as plt
import seaborn as sns
plt.figure(figsize= (20,15))
plt.subplot(8,1,1)
sns.boxplot(x= sales_df.Unit price, color='pink')
plt.subplot(8,1,2)
sns.boxplot(x= sales_df.Quantity, color='pink')
plt.subplot(8,1,3)
sns.boxplot(x= sales_df.Tax 5%, color='pink')
plt.subplot(8,1,4)
sns.boxplot(x= sales_df.Total, color='pink')
plt.subplot(8,1,5)
sns.boxplot(x= sales_df.Cogs, color='pink')
plt.subplot(8,1,6)
sns.boxplot(x= sales_df.Gross margin percentage, color='pink')
plt.subplot(8,1,7)
sns.boxplot(x= sales_df.Gross income, color='pink')   
plt.subplot(8,1,8)
sns.boxplot(x= sales_df.Gating, color='pink')
plt.show()

SyntaxError: invalid syntax (<ipython-input-36-be60ec10ae13>, line 5)